{% block body %}	
	<a>{{WaterCoName}}</a>
	<div id="Map">
		<div id="googleMap" style="width:100%;height:700px;"></div>
	</div> 
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('http://maps.googleapis.com/maps/api/js?key=AIzaSyC2MS_RTHEHSM590q-CVPWKMeaVJf-kuSc')}}"></script>
	<script src="{{ asset('https://code.jquery.com/jquery-3.1.0.js')}}"></script>
 	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

	<script>
		var myCenter=new google.maps.LatLng(53.108863, -1.555455);

		function initialize()
			{
			var mapProp = {
				center:myCenter,
				zoom:14,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};

			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

			var marker=new google.maps.Marker({
				position:myCenter,
			});

			marker.setMap(map);
			
    	setMarkers(map);
    }
    	
		function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };	
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };

        {% for Logger in Loggers %}
          var marker = new google.maps.Marker({
          	position: {lat: {{Logger.ivoGpsLatitude }}, lng: {{Logger.ivoGpsLongitude}}}
          });
          marker.setMap(map);
				{% endfor %}
      }

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}