{% extends 'base.html.twig' %}

{#} {% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/simple-sidebar.css')}}" rel="stylesheet">
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#   <link href="{{ asset('css/sb-admin.css')}}" rel="stylesheet">  <!-- Custom CSS --> #}
{#{% endblock %} #}


{# "Projects #}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar invenio-brand">
			<div class="nav nav-sidebar">
	{% dump(Projects) %}
	{% dump(Project) %}
	{% if Projects %}
				<div class="panel-group" id="accordion">
	{% for sb_project in Projects %}
					<div class="panel panel-default">
	      				<div class="panel-heading">
	        				<h4 class="panel-title">
	          					<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">{{sb_project.ivoProjectName}} ( {{sb_project.ivoProjectID}} )</a>
	        				</h4>
	      				</div>
		{% if Project and Project.ivoProjectID == sb_project.ivoProjectID %}
	      				<div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
        {% else %}
	      				<div id="collapse{{ loop.index }}" class="panel-collapse collapse">
		{% endif %}
	        				<div class="panel-body">
								<ul>
									<li><a href="{{ path('projects_project_batches', {'projID': sb_project.ivoProjectID}) }}">Batch Details</a></li>
									<li><a href="{{ path('projects_project_maps', {'projID': sb_project.ivoProjectID}) }}">Batch Maps</a></li>
									<li><a>Project Results Data Sets</a></li>
									<li><a href="{{ path('projects_project_detail', {'projID': sb_project.ivoProjectID}) }}">Project Info...</a></li>
								</ul>
	        				</div>
	      				</div>
	    			</div>
	{% endfor %}
	    		</div>				
	{% endif %}
				<div class="panel panel-default">
	      			<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#">Add New Project...</a>	
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% block mainbody %}
{% endblock mainbody %}

{% endblock %}



