{# {% extends 'base.html.twig' %} #}

{#{% block stylesheets %}#}
{# 	{{parent()}} #}
{#{% endblock %}#}


{# "Projects #}
{% block body %}

<p> Got It </p>
<br>
{# <p>project Name</p> <p>{{Projects.ivoProjectName}}</p>
<br>
<p>Description</p> <p>{{Projects.ivoDescription}}</p>
<br>
<p>Client Name</p> <p>{{Projects.ivoClientName}}</p>
<br>
<p>Start Date</p> <p>{{Projects.ivoStartDate}}</p>
<br>
<p>Completion Date</p> <p>{{Projects.ivoCompletionDate}}</p>
<br>
<p>Leader User Id</p> <p>{{Projects.ivoLeaderUserId}}</p>
<br>
<p>Waterco Id</p> <p>{{Projects.ivoWatercoId}}</p>
<br>
<p>ivo Project Id</p> <p>{{Projects.ivoProjectId}}</p> #}

{% endblock %}